.Wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.Wrapper-Cell{
    flex: auto;
    height: 200px;
    min-width: 50px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items:stretch ;
    text-align: center;
    cursor: pointer;
}
@media screen and (max-width: 1024px){
    .Wrapper-Cell{
        height: 150px;
    }
}

@media screen and (max-width: 768px){
    .Wrapper-Cell{
        height: 100px;
    }
}
@media screen and (max-width: 425px){
    .Wrapper{
        flex-direction: column;
        justify-content: center;
        align-content: stretch;
        align-items: stretch;
    }
    .Wrapper-Cell{
        flex-basis: 100%;
        height: auto;
    }
    .Wrapper-Cell img{
        width: auto;
        max-height: none;
    }
}

@media screen and (max-width: 820px) and (max-height: 415px) and (orientation: landscape){
    .Wrapper{
        display: block;
        height: 100vh;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: scroll;
    }
}
@media screen and (max-height: 415px) and (orientation: landscape){
    .Wrapper-Cell{
        display: inline-block;
        line-height: 100vh;
    }
}

.Wrapper-Cell img{
    height: 100%;
    background: #cccccc;
    max-width: 100%;
    max-height: 100%;
}
