.Modal{
    text-align: center;
    display: grid;
    grid-template-columns: 85px 1fr 85px;
    grid-template-rows: 1fr;
    align-items: stretch;
    position: fixed;
    left: 0;
    top:0;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 425px) {
    .Modal{

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
}

.Modal_Content{
    margin: 45px 0 10px;
    position: relative;
}

.Modal_Content img{
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 425px) {
    .Modal_Content{
        margin: 0;
    }
}

.Modal_Button{
    border-radius: 5px;
    border: 3px solid #3c3c3c;
    margin: 20px;
    font-size: 36px;
    color: #000;
    background: #8e8e8e;
    line-height: 30px;
    display: block;
    width: 40px;
    height: 40px;
    transition: all ease .1s;
}

.Modal_Button:focus{
    outline: none;
}

.Modal_Button:hover{
    transform: scale(1.1);
    color: #cccccc;
}

.Modal_Button__Next:active{
    transform: translateX(5px) scale(1.1);
    transition: all ease .1s;
}

.Modal_Button__Prev:active{
    transform: translateX(-5px) scale(1.1);
    transition: all ease .0s;
}

@media screen and (max-width: 425px){
    .Modal_Button__Prev, .Modal_Button__Next{
        margin: 10px auto;
        text-align: center;
        width: 50px;
        height: 50px;
        color: #222222;
    }
}

.Modal_Button__Close{
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 20px;
    color: #cccccc;
    background: transparent;
    margin: 0;
    position: absolute;
    top:-42px;
    right: 0;
}

@media screen and (max-width: 425px) {
    .Modal_Button__Close{
        background: transparent;
        color: #cccccc;
        top: -80px;
        right: 5px;
    }
}
